/*  GLOBAL SETTINGS
================================ */

*, *:before, *:after { box-sizing: border-box; }

body {
    font-size: 1em;
    line-height: 1.7em;
}

div {
    width: 100%;
}

img, svg {
    width: 100%;
    height: auto;
    align-self: center;
}

@font-face {   font-family: 'icomoon';   src:
url('../fonts/icomoon.eot?tfexbb');   src:
url('../fonts/icomoon.eot?tfexbb#iefix') format('embedded-opentype'),
url('../fonts/icomoon.ttf?tfexbb') format('truetype'),
url('../fonts/icomoon.woff?tfexbb') format('woff'),
url('../fonts/icomoon.svg?tfexbb#icomoon') format('svg');   font-
weight: normal; font-style: normal; }


/*  OUTLINES FOR TROUBLESHOOTING
================================== */

/*.row { outline: 1px solid blue; }
[class*='col'] { outline: 1px solid red; }*/


/*  THE GRID
================================== */

.superhero {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 100vw;
    max-width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url('../img/hero.jpg');
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 50px;
    margin: 0 auto;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1100px;
    text-align: initial;
    padding: 0;
    margin: 0;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
 }

.col-1  { width: 8.333%; }
.col-2  { width: 16.66%; }
.col-3  { width: 25%; }
.col-4  { width: 33.33%; }
.col-5  { width: 41.66%; }
.col-6  { width: 50%; }
.col-7  { width: 58.33%; }
.col-8  { width: 66.66%; }
.col-9  { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

[class*='col'] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: initial;
    padding: 25px;
    margin: 0;
}

[class*='col'] [class*='col'] {
    padding-left: 0;
}

[class*='col'] [class*='col']:last-of-type {
    padding-left: 25px;
    padding-right: 0;
}

[class*='col'] .row {
    margin-top: 50px;
}


/*  TYPE STYLING
================================== */

p {
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1.3em;
    margin: 0 0 .4em 0;
}

h1 { font-size: 3.8em; }
h2 { font-size: 3.3em; }
h3 { font-size: 2.8em; }
h4 { font-size: 2.3em; }
h5 { font-size: 1.8em; }
h6 { font-size: 1.3em; }


/*  BUTTONS
================================== */

.btn {
    position: relative;
    cursor: pointer;
    color: #fff;
    font-size: .92em;
    letter-spacing: .22em;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: 1px solid rgba(0,0,0,.1);
    border-bottom: 5px solid rgba(0,0,0,.2);
    border-radius: 4px;
    box-shadow: 3px 3px 0px rgba(0,0,0,.12);
    padding: 12px 48px 7px 48px;
    margin: 25px auto;
}

/*.btn + .btn {
    margin-left: 15px;
}*/

.btn:hover {
    top: 2px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.07), rgba(0,0,0,.07));
    box-shadow: 3px 1px 0px rgba(0,0,0,.12);
}

.btn-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn-group .btn {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
}

.btn-group .btn:first-of-type {
    border-radius: 4px 0 0 4px;
}
.btn-group .btn:last-of-type {
    border-radius: 0 4px 4px 0;
}

.btn-group .btn:hover {
    top: initial;
}


/*  FORMS & INPUTS
================================== */

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    box-shadow: none;
    font-size: 1em;
    font-weight: normal;
    color: #444;
    background-color: #f4f4f4;
    outline: none;
    border: 1px solid rgba(0,0,0,.1);
    border-bottom: 5px solid rgba(0,0,0,0);
    border-radius: 4px;
    padding: 6px 12px 1px 12px;
    margin: 2px 0 6px 0;
    transition: background-color .5s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select {
    display: block;
    position: relative;
    margin: 25px 0 0 0;
}

.select:after {
    position: absolute;
    top: 15px;
    right: 15px;
    pointer-events: none;
    font-family: 'icomoon';
    font-size: 16px;
    line-height: 16px;
    content: '\ea1c';
    color: #999;
    transform: rotate(90deg);
    padding: 0;
    margin: 0;
}

option {
    font-size: .85em;
    padding: 8px 16px;
}

input:focus,
textarea:focus {
    border-bottom: 5px solid #149ce0;
    background-color: #e4e4e4;
}

input[type='checkbox'],
input[type='radio'] {
    display: none;
}

input[type='checkbox'] + label span {
    display: inline-block;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    vertical-align: text-bottom;
    background-color: #f4f4f4;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    padding: 0;
    margin: 5px 10px 0 0;
}

input[type='checkbox']:checked + label span:after {
    display: block;
    font-family: 'icomoon';
    font-size: 12px;
    content: '\ea10';
    color: #149ce0;
    line-height: 17px;
}

input[type='radio'] + label span {
    position: relative;
    display: inline-block;
    outline: none;
}

/*input[type='radio']:checked + label span:after {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: #777;
    border-radius: 50%;
    margin: 4px;
}*/

label {
    font-size: .92em;
    font-weight: bold;
    cursor: pointer;
    line-height: 18px;
    margin: 10px 20px 0 2px;
}

textarea {
    min-height: 100px;
    max-height: 600px;
    transition: background-color .5s;
    padding: 10px;
}


/*  CODE
================================== */

code {
    font-family: monospace;
    color: #262626;
    background-color: #dedede;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    border-radius: 4px;
    padding: 4px 7px;
    margin: 0 3px;
}

pre > code {
    display: inline-block;
    max-width: 100%;
    white-space: pre;
    overflow-x: auto;
    padding: 20px;
}


/*  LISTS
================================== */

ul { list-style: circle; }
ol { list-style: decimal; }

ul,
ol {
    margin-top: 0;
}

li {
    margin-bottom: .5em;
    padding-left: .75em;
}


/*  TABLES
================================== */

table {
    border-color: rgba(0,0,0,.1);
}

table,
table[class*='col'] {
    display: table;
    cursor: default;
    text-align: left;
    border-spacing: 0;
}

.table-row {
    overflow-x: auto;
}

th, td {
    padding: 8px 10px;
}

th {
    font-weight: bold;
    border-bottom: 2px solid;
}

td {
    border-top: 1px solid;
}

thead, tbody, tr, th, td {
    border-color: inherit;
}

tr:hover {
    background-color: rgba(0,0,0,.05);
}

thead tr:first-child:hover {
    background-color: initial;
}

.striped tr:hover {
    background-color: initial;
}

.striped tr:nth-child(2n) {
    background-color: rgba(0,0,0,.05);
}

.striped td {
    border-color: rgba(0,0,0,0);
}


/*  EXTRA FEATURES
================================== */

#overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: .75;
    transition: opacity .5s;
    z-index: 999;
}

.disable-scroll { overflow: hidden; }

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 600px;
    font-size: 1.2em;
    border-top: 16px solid rgba(0,0,0,.14);
    border-radius: 4px;
    box-shadow: 0 0 4px 8px rgba(0,0,0,.1);
    padding: 75px 50px;
    margin: auto;
    transition: opacity .5s;
    z-index: 1000;
}

.quote {
    display: flex;
    width: 85%;
    font-size: 1.1em;
    font-style: italic;
    font-weight: normal;
    justify-content: center;
    text-align: center;
    background-color: #e4e4e4;
    border: 1px solid rgba(0,0,0,.1);
    border-top: 8px solid #76DDC9;
    border-radius: 4px;
    padding: 25px 30px;
    margin: 25px auto;
}

.quote:before,
.quote:after {
    font-family: 'icomoon';
    font-size: 1.5em;
    content: '\e977';
    color: rgba(0,0,0,.07);
    cursor: default;
    align-self: flex-start;
    padding: 0 5px 0 0;
    margin: -10px 0 0 0;
}

.quote:after {
    content: '\e978';
    align-self: flex-end;
    padding: 0 0 0 5px;
    margin: 0 5px -10px 0;
}

.notification {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    padding: 20px;
    margin: 10px auto;
    transition: opacity .5s;
}

.info-title {
    display: block;
    position: relative;
    width: 100%;
    text-align: left;
    border: 1px solid rgba(0,0,0,.1);
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    padding: 5px 15px;
    margin: 10px auto 0 auto;
}

.info-body {
    display: block;
    position: relative;
    width: 100%;
    font-size: .9em;
    text-align: left;
    border: 1px solid rgba(0,0,0,.1);
    border-top: none;
    border-radius: 0 0 4px 4px;
    padding: 15px 25px;
    margin: 0 auto 10px auto;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background-color: rgba(0,0,0,.06);
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 0;
    margin: 0;
}

.close:hover {
    background-color: rgba(0,0,0,.12);
}

.close:after {
    font-family: 'icomoon';
    font-size: 12px;
    content: '\ea0f';
    color: #f4f4f4;
    padding: 10px;
    margin: 0;
}

.tag {
    display: inline-flex;
    cursor: default;
    font-size: .9em;
    font-weight: bold;
    line-height: 1.55em;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.1);
    border-bottom: 3px solid rgba(0,0,0,.2);
    padding: 2px 16px;
    margin: 4px 4px 4px 0;
}


/*  POSITIONING
================================== */

/* LEFT HORIZONTAL alignment */
.superhero.left {
    align-items: flex-start;
}
.row.left {
    justify-content: flex-start;
}
.left {
    text-align: left;
}

/* CENTER HORIZONTAL alignment */
.superhero.center {
    align-items: center;
}
.row.center {
    justify-content: center;
}
.center {
    text-align: center;
}

/* RIGHT HORIZONTAL alignment */
.superhero.right {
    align-items: flex-end;
}
.row.right {
    justify-content: flex-end;
}
.right {
    text-align: right;
}

/* TOP VERTICAL alignment */
.superhero.top {
    justify-content: flex-start;
}
.top {
    margin-top: 0;
    margin-bottom: auto;
}

/* MIDDLE VERTICAL alignment */
.superhero.middle {
    justify-content: center;
}
.middle {
    margin: auto;
}

/* BOTTOM VERTICAL alignment */
.superhero.bottom {
    justify-content: flex-end;
}
.bottom {
    margin-top: auto;
}

/* These horizontally move 'rows' within a container */
.row.pull-left {
    align-self: flex-start;
}
.pull-left {
    margin-left: 0;
    margin-right: auto;
}

.row.pull-center {
    align-self: center;
}
.pull-center {
    margin: auto;
}

.row.pull-right {
    align-self: flex-end;
}
.pull-right {
    margin-left: auto;
    margin-right: 0;
}

/* Use 'dead-center' on a container to align content to absolute center */
.dead-center {
    justify-content: center;
    align-items: center;
}

/* Use 'flex-row' on a container to make it a flex row */
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Use 'flex-row' on a container to make it a flex column */
.flex-col {
    display: flex;
    flex-direction: column;
}


/*  UTILITIES
================================== */

/* These can be used to control the size of images and other elements */
.size-10 { width: 10%; }
.size-20 { width: 20%; }
.size-30 { width: 30%; }
.size-40 { width: 40%; }
.size-50 { width: 50%; }
.size-60 { width: 60%; }
.size-70 { width: 70%; }
.size-80 { width: 80%; }
.size-90 { width: 90%; }
.size-100 { width: 100%; }

.size-25 { width: 25%; }
.size-33 { width: 33.33333%; }
.size-66 { width: 66.66666%; }
.size-75 { width: 75%; }

/* These give elements some vertical room to breathe */
.v-25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.v-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* These give elements some horizontal room to stretch */
.h-25 {
    margin-left: 25px;
    margin-right: 25px;
}

.h-50 {
    margin-left: 50px;
    margin-right: 50px;
}

/* These tighten things up a bit */
.flush {
    padding: 0;
}

.v-flush {
    padding-top: 0;
    padding-bottom: 0;
}

.h-flush {
    padding-left: 0;
    padding-right: 0;
}

br {
    content: '';
    margin: 1em;
}


/*  MEDIA QUERY BREAKPOINTS
================================== */

@media screen and (max-width: 480px) {
    .superhero {
        height: 100%;
    }
    input {
        width: 100%;
    }
    .btn {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin: 15px 0 !important;
    }
    .btn-group .btn {
        border-radius: 4px !important;
    }
    .table-row {
        display: block;
    }
    .quote {
        width: 100%;
        font-size: .95em;
        line-height: 1.4em;
        padding: 25px 5px;
    }
    .notification {
        font-size: .9em;
        padding-top: 30px;
    }
}

@media screen and (max-width: 768px) {
    [class*='col'] [class*='col']:last-of-type {
    padding-left: 0;
    }
    [class*='col']:not(.flex) {
    width: 100%;
    }
    .hero,
    .superhero {
        padding: 35px 0;
    }
    .modal {
        width: 92%;
        max-height: 82%;
        font-size: 1em;
        padding: 50px 30px;
    }
    .hide-on-small {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .hide-on-large {
        display: none;
    }
}
