<?xml version='1.0' encoding='utf-8'?>

<widget 
    id="com.vermiliongiant.numberknight" 
    version="1.0.20161201" 
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0">

    <name>Number Knight</name>
    <description>
        A game about dungeons, monsters, and... math?
    </description>
    <author email="contact@vermiliongiant.com" href="www.vermiliongiant.com">
        Daniel Strong
    </author>

    <platform name="android">
        <icon src="img/icon.png" />
    </platform>

    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <plugin name="cordova-plugin-whitelist" spec="~1.3.0" />

    <preference name="permissions" value="none" />
    <preference name="android-build-tool" value="gradle" /> 
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="handset" />
</widget>